.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.info {
  max-width: 281px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.landingHeader {
  display: flex;
  padding-bottom: 60px;
  font-size: 24px;
  margin: 0px;
  color: var(--color-details);
}

.landingParagraph {
  text-align: left;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.015em;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

.landingParagraphForm {
  font-size: 14px;
  margin: 0px;
  padding-bottom: 30px;
  color: var(--color-landingInfo)
}

.landingFormContainer {
  text-align: left;
}

.landingFormInput {
  width: 100%;
  margin-bottom: 20px;
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-color: var(--color-details);
  caret-color: var(--color-details);
  outline: none;
}

.landingFormInput::placeholder {
  color: var(--color-details);
}

.landingFormButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 24px;
  color: white;
  background-color: var(--color-button);
  border: none;
}

.landingBgImage1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.landingBgImage2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/*----------------------TABLET VERTICAL------------------------- */

@media screen and (min-width: 768px) and (max-width: 1019px) {
  .container {
    max-width: 375px;
    padding: 0;
    margin-left: 50px;
  }

  .landingHeader {
    font-size: 20px;
    padding-bottom: 50px;
  }

  .landingParagraph {
    line-height: 33px;
    font-size: 24px;
  }

  .landingParagraphForm {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .info {
    max-width: 375px;
    padding-top: 312px;
    padding-bottom: 25px;
  }

  .landingFormContainer {
    margin-bottom: 351px;
  }

  .landingFormInput {
    width: 193px;
  }

  .landingFormButton {
    margin-left: 141px;
  }

  .landingBgImage1 {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    margin: 0;
  }

  .landingBgImage2 {
    position: absolute;
    margin: 0;
    left: auto;
    
  }
}

/*----------------------TABLET HORIZONTAL------------------------- */

@media screen and (min-width: 1020px) and (max-width: 1999px) {
  .container {
    max-width: 515px;
    margin-left: 99px;
    padding: 0;
  }

  .info {
    max-width: 515px;
  }

  .landingHeader {
    padding-bottom: 50px;
  }

  .landingParagraph {
    line-height: 45px;
    font-size: 33px;
    max-width: 515px;
  }

  .landingParagraphForm {
    font-size: 24px;
    padding-bottom: 36px;
  }

  .info {
    padding-top: 161px;
    padding-bottom: 25px;
  }

  .landingFormContainer {
    margin-bottom: 201px;
  }

  .landingFormInput {
    display: block;
    width: 193px;
  }

  .landingFormButton {
    margin-left: 141px;
  }


  .landingBgImage1 {
    top: 0;
    left: auto;
    margin: 0;
  }

  .landingBgImage2{
    left: auto;
    margin: 0;
  }

}

/*----------------------DESKTOP------------------------- */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 562px;
    margin-left: 229px;
  }

  .info {
    padding-top: 193px;
    padding-bottom: 35px;
    max-width: 562px;
  }

  .landingHeader {
    padding-bottom: 70px;
  }

  .landingParagraph{
    max-width: 100%;

    font-size: 36px;
  }

  .landingParagraphForm {
    font-size: 24px;
    padding-bottom: 23px;
  }

  .landingFormInput {
    display: block;
    width: 196px;
  }

  .landingFormButton {
    margin-left: 144px;
  }

  .landingBgImage1 {
    bottom: auto;
  }

  .landingBgImage2{
  
  }
}
