.modal {
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 77px;
}

.select {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}