.card {
  width: 290px;
  height: 260px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  font-size: 16px;
  font-size: 20px;
  position: relative;
}

.pointer_on{
  cursor: pointer;
}
