* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
}

.section_container {
  padding: 25px 15px 82px 15px;
}

/* @media screen and (min-width: 768px) {
 .section_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
   .container {
    padding-left: 72px;
    padding-right: 72px;
  }
} */
